frontend/node_modules/
frontend/dist/
backend/vendor/
backend/.env
backend/database/*.sqlite*
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/bootstrap/cache/*.php
.DS_Store
backend/.phpunit.result.cache
backend/storage/framework/views/*
backend/storage/framework/sessions/*

backend/storage/app/private/products/
backend/storage/framework/testing/

backend/storage/app/private/promotions/
